<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Students List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<div class="container mt-5">
    <h2>Registered Students</h2>

    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>Student Number</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>CGPA</th>
            <th>Enrollment Date</th>
            <th>International?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.studentNumber}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.middleName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.cgpa}"></td>
            <td th:text="${student.enrollmentDate}"></td>
            <td th:text="${student.isInternational}"></td>
            <td>
                <a th:href="@{/eregistrar/edit/{id}(id=${student.studentId})}" class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{/eregistrar/delete/{id}(id=${student.studentId})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
